/* Home Container Styling */
.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  box-sizing: border-box;
}

/* Image Styling */
.homeContainer img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  filter: brightness(70%);
}

/* Header and Subheader Styling */
.homeContainer h1 {
  font-size: 3rem;
  margin: 0;
}

.homeContainer h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

/* Tablet */
@media (max-width: 768px) {
  .homeContainer h1 {
    font-size: 2.5rem;
  }

  .homeContainer h2 {
    font-size: 1.3rem;
  }

  .homeContainer img {
    max-width: 500px;
    margin-top: 15px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .homeContainer h1 {
    font-size: 2rem;
  }

  .homeContainer h2 {
    font-size: 1.2rem;
  }

  .homeContainer img {
    margin-top: 10px;
  }
}
