/* Navigation styling */

header {
  width: 100px;
}

header h1,
nav li {
  text-transform: uppercase;
}

nav li {
  margin: 10% 5%;
  border-bottom: 2px solid lightgray;
  cursor: pointer;
}

nav li:hover {
  border-bottom-color: #45e9f5;
}
